html {
    background: url(https://wallpapercave.com/wp/wp4974476.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: black;
    color: white;
}

nav ul {
	margin: 0px;
	padding: 10px;
    border: 5px;
	background-color:black;
	display: table;
	width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    
}

nav li {
	display: table-cell;
}
li a {
    text-decoration: none;
    color: azure;
}
li a:hover {
    background-color: black;
}
.header {
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white
}

.footer {
    position: relative;
    width: 100%;
    bottom: -100px;
    background-color: aliceblue;
}

.footer p {
    color: white;
    align-self: center;
}
