nav {
  margin-right: -8px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    background-color:grey;
    
  }
  
  h1 {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 36px;
  }
  
  ul {
    float: right;
  }
  
  li {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    background-color: #28587B;  
  }
  
  a {
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    text-decoration: none;
    font-size: 24px;
    color: white;
  }
  
  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  img {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
  }
.div-container {
  margin-top: 25px;
  z-index: 5;
  position:absolute;
}
  .div-one h1{
    margin-top: 25px;
    color: white;
    justify-content: start;
    position:absolute;
  }
  .div-two h1{
    margin-left:  5px;
    margin-top: 25px;
    color: white;
    justify-content: start;
    position:absolute;
  }
  .div-three h1{
    margin-left:  5px;
    margin-top: 25px;
    color: white;
    justify-content: start;
    position:absolute;

  }
  .div-container p {
    margin-top: 45px;
    margin-left:  5px;
    color: white;
  }
  
  @media only screen and (max-width: 800px) {
    h1 {
       display: none;
    }
    
    li {
      margin-right: 10px;
    }
  
    a {
      width: 100px;
      padding: 5px 0;
      font-size: 16px;
    }
  }

