body {

background-image: url("https://images.squarespace-cdn.com/content/v1/58922665414fb57eb1b11e72/1503080659837-I1GIEHHI3LV6KVF455HC/blog+general.jpeg?format=2500wg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

a:link {
     color: grey;
     background-color: transparent;
     text-decoration: none !important;

 }
 a:visited {
    color: grey;
    background-color:transparent;
    text-decoration: none;
 }
 a:hover {
     color:brown;
     background-color: transparent;
     text-decoration: none;
 }

nav ul{
	margin: 0px;
	padding: 5px;
    border: 1px;
	display: table;
	width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
   
}
#mainheader {
    font-size: 25px;
    text-align: left;
}

#mainpagelinks {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    text-align: right;
}

#aboutmeheader {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    text-align: justify;
}

#aboutmepagelinks {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    text-align: right;
}

#blogheader  {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    text-align: justify;
}
#blogpagelinks {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    text-align: right;
}

#contactheader {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
}

#contactpagelinks {
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 100%;
}

li {
    display: table-cell;
    
}
li h3 {
    font-size: 25px;
    margin-right: 5px;
    text-align: right;
    margin-left: 5px;

}

li h1 {
    text-align: left !important;
    color: white;
}
.summary h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:150px
}
.summary p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:150px;
    width: 500px;
    word-wrap: break-word;
}
.goals h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;

}
.goals p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;

}

.disclaimer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}

.disclaimer p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}

.lastthing h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align:left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}
.lastthing p {
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}
footer {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    position: relative; top: 300px; bottom: -15px;
}

/* END HOME PAGE STYLING*/
/* END HOME PAGE STYLING*/
/* END HOME PAGE STYLING*/



/* BEGIN SETUP PAGE STYLING */
/* BEGIN SETUP PAGE STYLING */
/* BEGIN SETUP PAGE STYLING */

.desksetup{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    text-align: justify;
    top:200px;
    width: 500px;

}
.desksetup h1 {
    background-color: black;
    opacity: 50%;
    width: 100%;
}

.desksetup li {
    display: inline-table;
    line-height: 100%;
}
a:link {
    text-decoration: underline;
}
 li p {
     color: grey;
     display: inline-table;
 }

 .laptopsetup{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    text-align: justify;
    top:200px;
    width: 500px;
}
.laptopsetup h1 {
    background-color: black;
    opacity: 50%;
    width: 75%;
}
.laptopsetup li {
    display: block;
    line-height: 100%;
}
.laptopsetup li p {
    display: inline-table;
    color: gray;
}

.onthego{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    text-align: justify;
    top:200px;
    width: 500px;
}
.onthego h1 {
    background-color: black;
    opacity: 50%;
    width: 100%;
}
.onthego li {
    display: block;
    line-height: 100%;
}
.onthego li p {
    display: inline-table;
    color: gray;
}

.audio{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    text-align: left;
    top:200px;
    width: 500px;
}
.audio h1 {
    background-color: black;
    opacity: 50%;
    width: 100%;
}
span {
    text-decoration: underline;
    text-align: justify;
}


/* END SETUP PAGE STYLING */
/* END SETUP PAGE STYLING */
/* END SETUP PAGE STYLING */
