body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/58922665414fb57eb1b11e72/1503080659837-I1GIEHHI3LV6KVF455HC/blog+general.jpeg?format=2500wg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
}
nav ul{
	margin: 0px;
	padding: 5px;
    border: 1px;
	display: table;
	width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke !important
   
}
#name {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li {
    display: table-cell;
    
}
li h3 {
    font-size: 25px;
    margin-right: 5px;
    text-align: right;
    margin-left: 5px;

}

li h1 {
    text-align: left !important;
}
.summary h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:150px
}
.summary p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:150px;
    width: 500px;
    word-wrap: break-word;
}
.goals h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;

}
.goals p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;

}

.disclaimer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}

.disclaimer p {
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}

.lastthing h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}
.lastthing p {
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative; top:200px;
    width: 500px;
    word-wrap: break-word;
}
footer {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    position: relative; top: 300px; bottom: -15px;
}